@media print, screen and (min-width: 376px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 376px) {
  ._pc {
    display: block;
  }
}

body {
  font-family: serif;
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.header {
  background-color: #4d0000;
  height: 94px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-utilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-utilities__logo {
  width: 150px;
  padding: 19px 0 19px 30px;
}

@media print, screen and (min-width: 376px) {
  .header-utilities__logo {
    width: 188px;
    padding: 12px 0 12px 30px;
  }
}

.header-utilities-nav {
  display: none;
}

@media print, screen and (min-width: 376px) {
  .header-utilities-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 33px;
  }
}

.header-utilities-nav__item {
  font-size: 1.125rem;
  margin-left: 25px;
}

.hamburger-btn {
  position: relative;
  width: 52px;
  height: 52px;
  cursor: pointer;
  padding-bottom: 10px;
  margin-right: 30px;
}

@media print, screen and (min-width: 376px) {
  .hamburger-btn {
    display: none;
  }
}

.hamburger-btn__line {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger-btn_line--1 {
  top: 13px;
}

.hamburger-btn_line--2 {
  top: 27px;
}

.hamburger-btn_line--3 {
  top: 41px;
}

.active .hamburger-btn_line--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 20px;
}

.active .hamburger-btn_line--2 {
  width: 0px;
}

.active .hamburger-btn_line--3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
}

.hamburger-menu {
  background-color: #000000cc;
  text-align: center;
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 97px;
  width: 100%;
}

@media print, screen and (min-width: 376px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu-nav {
  padding: 45px 0;
}

.hamburger-menu-nav__item {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.section__inner {
  padding-top: 61px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.section-sub-title {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 60px;
}

.accordion {
  margin: 0 27px 70px 27px;
}

@media print, screen and (min-width: 376px) {
  .accordion {
    text-align: center;
    width: 907px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

.accordion__title {
  background-color: #fff;
  color: #333333;
  display: block;
  padding: 13px 15px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

@media print, screen and (min-width: 376px) {
  .accordion__title {
    background-color: #fff;
    color: #333333;
    display: block;
    padding: 20px 0;
    border: 1px solid #e5e5e5;
  }
}

.accordion__text {
  background-color: #f2f2f2;
  color: #333333;
  padding: 13px 15px;
  border: 1px solid #e5e5e5;
}

@media print, screen and (min-width: 376px) {
  .accordion__text {
    background-color: #f2f2f2;
    color: #333333;
    padding: 25px 47px;
    border: 1px solid #e5e5e5;
  }
}

.accordion__body {
  display: none;
}

.footer {
  background-color: #4d0000;
  text-align: center;
  padding-bottom: 15px;
}

@media print, screen and (min-width: 376px) {
  .footer {
    background-color: #4d0000;
    text-align: center;
    padding-bottom: 42px;
  }
}

.footer-nav {
  padding-top: 62px;
}

@media print, screen and (min-width: 376px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 62px;
  }
}

.footer-nav__item {
  padding-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .footer-nav__item {
    margin-left: 50px;
  }
}

.footer-logo {
  margin-top: 62px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .footer-logo {
    width: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.breadcrumb {
  font-size: 1.25rem;
  padding-top: 20px;
}

@media print, screen and (min-width: 376px) {
  .breadcrumb {
    font-size: 1.25rem;
    padding-top: 20px;
    padding-left: 110px;
  }
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__item a {
  text-decoration: underline;
}

.breadcrumb__item::after {
  content: ">";
  padding: 0 5px;
}

.breadcrumb__item:last-child::after {
  display: none;
}

.breadcrumb__item--now {
  text-decoration: none;
}

.top-mv {
  background-image: url(/image/top-mv_sp.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  margin-top: 96px;
  text-align: center;
}

@media print, screen and (min-width: 376px) {
  .top-mv {
    background-image: url(/image/top-bg.png);
    background-position: center;
    background-size: cover;
    height: 674px;
    margin-top: 96px;
    text-align: center;
  }
}

.top-text {
  font-size: 2.1875rem;
  line-height: 4rem;
  padding-top: 283px;
}

@media print, screen and (min-width: 376px) {
  .top-text {
    font-size: 3.125rem;
    line-height: 5rem;
    padding-top: 200px;
  }
}

.top-mv--2 {
  background-image: url(/image/street-409993_1920.png);
  background-position: center;
  background-size: cover;
  height: 296px;
  margin-top: 96px;
}

@media print, screen and (min-width: 376px) {
  .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media print, screen and (min-width: 376px) {
  .features-item--revers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media print, screen and (min-width: 376px) {
  .features-image {
    width: 50%;
  }
}

.features-info {
  margin-right: 1.6875rem;
  margin-left: 1.6875rem;
  margin-top: 1.875rem;
}

@media print, screen and (min-width: 376px) {
  .features-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 4.4375rem;
    margin-left: 3.4375rem;
    margin-top: 1.875rem;
  }
}

.features-info__title {
  font-size: 1.125rem;
  color: #ffffdd;
  margin-bottom: 40px;
  line-height: 2rem;
}

@media print, screen and (min-width: 376px) {
  .features-info__title {
    font-size: 1.75rem;
    line-height: 3rem;
    margin-bottom: 45px;
    color: #ffffdd;
  }
}

.features-info__text {
  font-size: 1rem;
  margin-bottom: 60px;
  line-height: 1.3rem;
}

@media print, screen and (min-width: 376px) {
  .features-info__text {
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin-bottom: 60px;
  }
}

.features-info--revers {
  margin-right: 1.6875rem;
  margin-left: 1.6875rem;
  margin-top: 1.875rem;
}

@media print, screen and (min-width: 376px) {
  .features-info--revers {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 3.4375rem;
    margin-left: 4.4375rem;
    margin-top: 1.875rem;
  }
}

.features-btn {
  text-align: center;
  margin-bottom: 62px;
}

@media print, screen and (min-width: 376px) {
  .features-btn {
    text-align: center;
  }
}

.btn a {
  display: inline-block;
  font-size: 0.875rem;
  background-color: #b8860bea;
  padding: 12px 22px;
  border-radius: 5px;
  width: 9.6875rem;
  text-align: center;
}

.plan-container {
  padding-bottom: 94px;
}

@media print, screen and (min-width: 376px) {
  .plan-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.plan-item {
  border-radius: 8px;
  width: 322px;
  margin-left: 56px;
}

.plan-info {
  background-color: #fff;
  color: #333333;
  padding-right: 1.15625rem;
  padding-left: 1.15625rem;
  border-radius: 0 0 8px 8px;
}

.plan-info__title {
  padding-top: 24px;
  padding-bottom: 66px;
}

.plan-info__price {
  padding-bottom: 50px;
}

.plan-info__price--red {
  color: red;
}

@media print, screen and (min-width: 376px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.service-item {
  background-color: #fff;
  opacity: 0.9;
  margin: 0 26px 30px 26px;
}

@media print, screen and (min-width: 376px) {
  .service-item {
    background-color: #fff;
    opacity: 0.9;
    width: 389px;
  }
}

.service-item--space {
  background-color: #fff;
  opacity: 0.9;
  margin: 0 26px 30px 26px;
}

@media print, screen and (min-width: 376px) {
  .service-item--space {
    background-color: #fff;
    opacity: 0.9;
    width: 389px;
    margin: 0 30px 30px 30px;
  }
}

.service-image {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.service-info {
  color: #333333;
}

.service-info__title {
  font-size: 1.75rem;
  padding-bottom: 40px;
  text-align: center;
}

.service-info__text {
  padding: 0 23px 53px 23px;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.blog-list {
  margin-bottom: 45px;
}

@media print, screen and (min-width: 376px) {
  .blog-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    padding-left: 111px;
  }
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-bottom: 30px;
}

@media print, screen and (min-width: 376px) {
  .blog-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
}

.blog-info__icon {
  font-size: 0.8125rem;
  background-color: #4d0000;
  min-width: 75px;
  text-align: center;
  padding-top: 8px;
  margin: 0 20px 0 27px;
}

@media print, screen and (min-width: 376px) {
  .blog-info__icon {
    font-size: 0.875rem;
    background-color: #4d0000;
    min-width: 157px;
    text-align: center;
    padding: 9px 0;
    margin-right: 30px;
  }
}

.blog-info__link {
  text-decoration: underline;
  display: inline-block;
}

@media print, screen and (min-width: 376px) {
  .blog-info__link {
    font-size: 1.5rem;
    text-decoration: underline;
    display: inline-block;
  }
}

.blog-btn {
  min-width: 155px;
  text-align: center;
}

@media print, screen and (min-width: 376px) {
  .blog-btn {
    text-align: center;
  }
}

@media print, screen and (min-width: 376px) {
  .archive-container {
    padding-left: 111px;
    padding-right: 96px;
    padding-bottom: 120px;
  }
}

.news-article {
  margin-bottom: 50px;
}

@media print, screen and (min-width: 376px) {
  .news-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
}

@media print, screen and (min-width: 376px) {
  .news-article-image {
    width: 254px;
    margin-right: 32px;
    position: relative;
  }
}

.news-article-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news-article-info__title {
  font-size: 1.75rem;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 20px;
}

.news-article-info__text {
  font-size: 1.3rem;
}

@media print, screen and (min-width: 376px) {
  .news-article-info__text {
    font-size: 1.5rem;
  }
}

.news-category {
  background-color: #4d0000;
  font-size: 14px;
  padding: 9px 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.pager {
  padding-left: 20px;
}

@media print, screen and (min-width: 376px) {
  .pager {
    margin-top: 76px;
    padding-left: 523px;
    text-align: center;
  }
}

.pager-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pager-list__item {
  margin-right: 10px;
}

@media print, screen and (min-width: 376px) {
  .pager-list__item {
    margin-right: 20px;
  }
}

.pager-list__item a {
  padding: 8px 16px;
  border: 1px solid #b8860b;
}

.pager-list__item--none {
  margin-right: 10px;
}

@media print, screen and (min-width: 376px) {
  .pager-list__item--none {
    margin-right: 20px;
  }
}

.pager-list__item--none a {
  padding: 8px 16px;
  font-size: 3rem;
}

.breadcrumb--single {
  margin-top: 30px;
}

@media print, screen and (min-width: 376px) {
  .breadcrumb--single {
    font-size: 1.25rem;
    margin-left: 110px;
  }
}

.content-info {
  padding-bottom: 10px;
}

@media print, screen and (min-width: 376px) {
  .content-info {
    padding-bottom: 37px;
  }
}

.content-info__btn {
  background-color: #00aced;
  font-size: 1.2rem;
  padding: 6px 10px;
  border-radius: 3px;
  display: inline-block;
}

@media print, screen and (min-width: 376px) {
  .content-info__btn {
    background-color: #00aced;
    font-size: 1.25rem;
    padding: 10px 18px;
    border-radius: 3px;
    display: inline-block;
  }
}

.content-info__time {
  margin-left: 80px;
}

@media print, screen and (min-width: 376px) {
  .content-info__time {
    font-size: 1.5rem;
    margin-left: 524px;
  }
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 90px;
}

@media print, screen and (min-width: 376px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content__main {
  padding-top: 50px;
}

@media print, screen and (min-width: 376px) {
  .content__main {
    padding-left: 110px;
    padding-right: 56px;
    padding-top: 50px;
  }
}

.content__category {
  background-color: #4d0000;
  font-size: 14px;
  padding: 9px 32px;
}

.content__title {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 2.25rem;
}

.content__image {
  margin-bottom: 42px;
}

@media print, screen and (min-width: 376px) {
  .content__image {
    width: 826px;
    margin-bottom: 42px;
  }
}

.content__main h2 {
  background-color: #030f55;
  font-size: 2rem;
  padding: 10px 0 10px 19px;
  width: 315px;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .content__main h2 {
    background-color: #030f55;
    font-size: 2.25rem;
    padding: 13px 0 13px 22px;
    width: 805px;
    margin-bottom: 37px;
  }
}

.content__main h3 {
  font-size: 1.6rem;
  padding: 10px 0 10px 19px;
  border-left: 10px solid #030f55;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .content__main h3 {
    font-size: 1.625rem;
    padding: 13px 0 13px 22px;
    border-left: 10px solid #030f55;
    margin-bottom: 40px;
  }
}

.content__main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .content__main p {
    font-size: 1.5rem;
    width: 805px;
    line-height: 2rem;
    margin-bottom: 40px;
  }
}

.fa-twitter {
  margin-right: 9.8px;
}

.content__side {
  padding-bottom: 90px;
}

@media print, screen and (min-width: 376px) {
  .content__side {
    margin-right: 105px;
    margin-top: 220px;
  }
}

.content__side h2 {
  font-size: 1.3125rem;
  background-color: #030f55;
  text-align: center;
  padding: 23px 0;
  margin-bottom: 30px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 376px) {
  .content__side h2 {
    font-size: 1.3125rem;
    background-color: #030f55;
    text-align: center;
    width: 269px;
    padding: 23px 0;
    margin-bottom: 30px;
  }
}

.content__side p {
  text-decoration: underline;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .content__side p {
    width: 152px;
  }
}

@media print, screen and (min-width: 376px) {
  .content-box--side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content-box__image {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 376px) {
  .content-box__image {
    width: 100px;
    margin-right: 17px;
    margin-bottom: 42px;
  }
}

@media print, screen and (min-width: 376px) {
  .contact-form {
    padding: 0 190px;
  }
}

.contact-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.contact-form__item label {
  margin-bottom: 12px;
}

.contact-form__item input {
  background-color: #000;
  border: 0.5px solid #6e6e6e;
  color: #fff;
  height: 50px;
}

.contact-form__item textarea {
  background-color: #000;
  border: 0.5px solid #6e6e6e;
  color: #fff;
  height: 240px;
  margin-bottom: 61px;
}

.policy {
  text-align: center;
}

.policy-text {
  margin-bottom: 33px;
}

.policy-text a {
  text-decoration: underline;
}

.checkbox {
  margin-bottom: 48px;
}

.contact-btn {
  margin-bottom: 105px;
}

.thanks__text {
  padding-top: 71px;
  text-align: center;
  font-size: 1.25rem;
}

.thanks__text a {
  font-size: 1rem;
  margin-top: 50px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 113px;
}

.breadcrumb--thanks {
  font-size: 0.875rem;
}

@media print, screen and (min-width: 376px) {
  .breadcrumb--thanks {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=style.css.map */