.section__inner {
  padding-top: 61px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.section-sub-title {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 60px;
}
